/**
 * Components.css
 */

/* Intro */

#intro.intro {
	width: 100%;
	position: relative;
	padding: 20% 0 10% 0;
	background: url(../img/background-header.jpg) top center;
}

.intro .slogan {
	text-align: center;
    font-size: 50px;
    /*margin-bottom: 7%;*/
}

.intro .page-scroll {
	text-align: center;
}

.brand-heading {
    font-size: 30px;
}

.intro .slogan h1 {
    color: #FFF;
    text-shadow: none;
    font-size: 1em;
    line-height: 60px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    /*background-color: rgba(0,0,0,.6);*/
    text-decoration: none;
    /*text-transform: uppercase;*/
    border-width: 0px;
    border-color: #000;
    border-style: none;
}

.intro .slogan h4 {
    color: #FFF;
    font-family: 'Ubuntu', sans-serif;
}

.intro .slogan .est {
    font-size: 30px;
}