/**
 * Theme: Blues
 */

/* Backgrounds */

.bg-skin {
    background-color: skyblue;
}

.bg-white {
  background: #fff;
}

.bg-gray {
  background: #f8f8f8;
}

.bg-dark {
  background: #575757;
}

/* Buttons */

/* Hyperlinks */

/* Media */

/* Typography */

/* Navigation */