/**
 * Theme: Default
 */

/* Backgrounds */

.bg-skin {
    background-color: #6A409C;
}

.bg-white {
  background: #fff;
}

.bg-gray {
  background: #f8f8f8;
}

.bg-dark {
  background: #575757;
}

/* Buttons */

.btn-skin {
  color: #fff;
  background-color: #67b0d1;
  border-color: #67b0d1;
}

/* Hyperlinks */

a {
    color: #6A409C;
}

a:hover {
    color: #CAB;
}

/* Media */

.widget-avatar .avatar:hover {
    border: 5px solid #67b0d1;
}

/* Typography */

.text-light {
  color: #fff;
}

/* Navigation */

.navbar-custom.top-nav-collapse {
    background-color: #6A409C;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
    color: #6A409C;
}